<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Welcome to Melia</title>
  <meta name="description" content="Welcome to Melia">
  <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 800px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <h3>Rohit, here are some suggestions for you...</h3>
    
    <div id="map"></div>
    <script>
    function initMap() {
        var bcn = {lat: 41.3869891, lng: 2.1638362};
        var map = new google.maps.Map(
          document.getElementById('map'), {zoom: 14, center: bcn});
        
        $.ajax({
               type: "GET",
               url: "http://localhost:5000/api/events",
               crossDomain: true,
               success: function(returnValue){
                    var events = $.parseJSON(returnValue);
                    
                    for (i=0; i < events.length; i++) {
                      var ev = events[i];
                      var x = ev.location[1];
                      var y = ev.location[0];
                      
                      var pos = {lat: x, lng: y};
                      var marker = new google.maps.Marker({position: pos, map: map});
                      var label = '<div id="content">' +
                        '<h1 id="firstHeading" class="firstHeading">' + ev.title + '</h1>' +
                        '<p><b>' + ev.address + '</b></p>' +
                        '<p><b>' + ev.start  + '</b></p></div>';
                      addEventLabel(marker, label);
                    }
                },
                error: function(request,error) {
                    alert('An error occurred getting events');
                    // console.log(request, error);
                }
        });
        function addEventLabel(marker, label) {
          var infowindow = new google.maps.InfoWindow({ content: label });
          google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(marker.get('map'), marker);
          });
        }
      }
  //      var request = {
  //          location: bcn,
  //          type: ['restaurant']};
    //  infowindow = new google.maps.InfoWindow();
    //  places = new google.maps.places.PlacesService(map);
    //  places.nearbySearch(request, callback);
    // }
    // function callback(results, status) {
  //      if (status == google.maps.places.PlacesServiceStatus.OK) {
  //        for (var i = 0; i < results.length; i++) {
  //            var place = results[i];
  //            alert(place);
  //            createMarker(results[i]);
  //        }
  //      }
  //    }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZT8Ai4KniCOkM6VBcku_XvjD3SpRRbFc&callback=initMap&libraries=places">
    </script>
</body>
</html>